/build
+.gradle\*
+.idea\*
+aaa_android.iml
+local.properties
+nicevideoplayer\nicevideoplayer.iml
+suspendbuttonlayout\suspendbuttonlayout.iml
+wificonnhelperlib\wificonnhelperlib.iml
+wkvideoplayer\wkvideoplayer.iml